.Rproj.user
.Rhistory
.RData
.Ruserdata
00_db_query.R
figs/*
data/fits/*
data/cvs/*
R/mwes/*
R/old/*
R/blas-test.R
R/99_sdmTMB_bug_testing.R
R/dist_to_coast_from_raster.R
data-raw/spatial/wcvi_ipes_shapefiles/*
data-raw/spatial/distance-coast2024/*
R/trimmed_dataset_checks.R
data/dat_tbl_allcoast.rds
data/barkley_unique_events.rds
data/tow_info.rds
data-raw/spatial/NOAA_bathy_grid*
data-raw/spatial/gebco*
data/pred_stock_cutoff.rds
data/stock-comp*
data/spde*
data/chmesh*
data/dense_mesh*
data/chinook_dat_allcoast.rds
data/chinook_gsi_counts_fitted*
data/cleaned_all_bridge_catch_dat.rds
data/grid_df.rds
data/pred_grid_stock_prop_RTMB*
data/pred_list_stock_comp_sdmTMB*
data/rotated_coast_outline.rds
data/gsi-prop-grid.rds
data/gsi-prop-mesh.rds
data/pred_chinook_cutoff.rds
data/pred_grid_all_coast.rds
data/pred_cmb.rds
data/pred_cmb_old_withcutoffs.rds
ToDo.md
